.page {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    @media screen and (max-width: 768px) {
        padding: 16px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    padding: 18px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    outline: 3px solid var(--gray-600);
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        padding: 14px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 4px;
    }
}
.header__logo {
    aspect-ratio: 162/99;
    height: 120px;
    @media screen and (max-width: 768px) {
        height: 60px;
    }
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 4px;
    padding-right: 48px;
    padding-left: 48px;
    background-color: white;
    @media screen and (max-width: 768px) {
        padding-top: 12px;
        padding-bottom: 4px;
        padding-right: 28px;
        padding-left: 28px;
    }
}
.scoreboard__text {
    color: var(--blue-700);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}
.scoreboard__number {
    color: var(--navy-900);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    @media screen and (max-width: 768px) {
        font-size: 48px;
    }
}

.shape__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    @media screen and (max-width: 768px) {
        align-items: center;
        padding-bottom: 20px;
    }
}

.rules {
    width: fit-content;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
    }
}