.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    @media screen and (max-width: 768px) {
        padding-top: 16px;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 580px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 12px;
    outline: 3px solid var(--gray-600);
    @media screen and (max-width: 768px) {
        border-radius: 6px;
    }
    @media screen and (max-width: 1080px) {
        align-self: stretch;
        justify-content: space-between;
        gap: 0px;
    }
}
.header__logo {
    width: 162px;
    height: 99px;
    @media screen and (max-width: 768px) {
        width: 108px;
        height: 66px;
    }
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 4px;
    padding-right: 48px;
    padding-left: 48px;
    background-color: white;
    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }
}
.scoreboard__text {
    color: var(--blue-700);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}
.scoreboard__number {
    color: var(--navy-900);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    @media screen and (max-width: 768px) {
        font-size: 48px;
    }
}

.shapes {
    background-image: url('../assets/images/bg-triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    height: 444px;
    width: 500px;
    padding-top: 108px;
    padding-bottom: 56px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 64px;
    position: relative;
    @media screen and (max-width: 536px) {
        height: 250px;
        width: 250px;
        padding-top: 56px;
        padding-bottom: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (min-width: 536px) and (max-width: 768px) {
        height: 380px;
        width: 380px;
        padding-top: 80px;
        padding-bottom: 12px;
        padding-left: 64px;
        padding-right: 64px;
    }
}
.shape__container {
    padding: 32px;
    border-radius: 100%;
    border: none;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    &:hover {
        cursor: pointer;
    }
    &:active {
        box-shadow: none;
        transform: translate(0px, 8px);
    }
    @media screen and (max-width: 536px) {
        padding: 16px;
    }
    @media screen and (min-width: 536px) and (max-width: 768px) {
        padding: 24px;
    }
}
.shape__container--blue {
    background-color: var(--blue-500);
    box-shadow: 0px 8px var(--blue-700);
}
.shape__container--gold {
    background-color: var(--gold-500);
    box-shadow: 0px 8px var(--gold-600);
}
.shape__container--red {
    background-color: var(--red-600);
    box-shadow: 0px 8px var(--red-800);
}
.shape__container--top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}
.shape__container--top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.shape__container--bottom-middle {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    &:active {
        transform: translate(-50%, 8px);
    }
}
.shape__background {
    padding: 52px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px -6px rgb(177, 177, 177);
    @media screen and (max-width: 536px) {
        padding: 24px;
    }
    @media screen and (min-width: 536px) and (max-width: 768px) {
        padding: 36px;
    }
}
.shape__logo {
    height: 80px;
    width: 80px;
    @media screen and (max-width: 536px) {
        height: 40px;
        width: 40px;
    }
    @media screen and (min-width: 536px) and (max-width: 768px) {
        height: 60px;
        width: 60px;
    }
}

.rules {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
    }
}